* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #253b40;
}



.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 9%;
    gap: 40px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.links a {
    text-decoration: none;
    color: #555;
    font-size: 11px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons a {
    text-decoration: none;
    color: #555;
    font-size: 11px;
}

.buttons button {
    border: none;
    background-color: #e76f51;
    color: white;
    padding: 12px 22px;
}




.home {
    width: 82%;
    height: 650px;
    margin: 20px auto 70px;
    position: relative;
}

.home-image {
    width: 70%;
    height: 630px;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}



.home-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.location {
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: #e76f51;
    color: white;

    padding: 22px 35px;

    font-size: 14px;
}

.home-text {
    position: absolute;
    top: 100px;
    left: 80;
    z-index: 10;    

}

.home-text h1 {
    font-size: 65px;
    line-height: 1.1;
    color: #253b40;
    margin-bottom: 0040px0;
    
}

.search {
    width: 500px;
    height: 55px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100; 
}

.search input {
    width: 370px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 14px;
    background-color: #ffffff;
}

.search button {
    width: 130px;
    border: none;
    background-color: #e76f51; 
    color: white;
    font-size: 14px;
    cursor: pointer;
}



.scroll {
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #888;
    font-size: 9px;
    transform: translateX(140px) !important;
}

.scroll span:first-child {
    writing-mode: vertical-rl;

    transform: rotate(180deg);
    margin-left: 30;
}

.scroll span:last-child {
    font-size: 20px;
}


.statistics {
    width: 82%;
    margin: auto;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.statistics-text {
    width: 50%;
}

.statistics-text h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.statistics-text p {
    color: #777;
    font-size: 10px;
    line-height: 1.8;
    margin-bottom: 15px;
    max-width: 450px;
}

.statistics-box {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 10px;
}

.box {
    height: 100px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 25px;
}

.box h3 {
    color: #e76f51;
    font-size: 22px;
    margin-bottom: 8px;
}

.box p {
    font-size: 9px;
}


.apartments {
    background-color: #f7f6f4;
    padding: 60px 9%;
}

.apartments h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background-color: white;
}

.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.card > p {
    font-size: 9px;
    padding: 12px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 15px;
}

.card-info span {
    color: #e76f51;
    font-size: 10px;
}

.card-info small {
    color: #777;
    font-size: 8px;
}

.bottom-search {
    margin-top: 25px;
    display: flex;
    height: 45px;
}

.bottom-search input {
    width: 220px;
    border: none;
    padding: 10px;
}

.bottom-search button {
    width: 80px;
    border: none;
    background-color: #e76f51;
    color: white;
}

.bottom-search .view-button {
    width: 140px;
    margin-left: 15px;
    background-color: white;
    color: #333;
}


.about {
    width: 72%;
    margin: auto;
    padding: 80px 0;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 70px;
}

.about-image {
    width: 52%;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.about-text {
    width: 40%;
}

.about-text h2 {
    font-size: 21px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 10px;
    color: #777;
    line-height: 1.8;
}

.about-location {
    position: absolute;
    right: 0;
    bottom: -20px;
    background-color: #e76f51;
    color: white;
    padding: 17px 30px;
    font-size: 11px;
}

.show-button {
    margin-top: 20px;
    width: 220px;
    height: 50px;
    border: none;
    background-color: #253b40;
    color: white;
}


.footer {
    background-color: #253b40;
    color: white;
    padding: 50px 10%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #456064;
}

.footer-top h2 {
    font-size: 25px;
}

.footer-top h1 {
    font-size: 25px;
}

.subscribe {
    display: flex;
    width: 380px;
    height: 45px;
}

.subscribe input {
    flex: 1;
    border: none;
    padding: 10px;
}

.subscribe button {
    width: 60px;
    border: none;
    background-color: white;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 40px;
}

.footer-bottom h2 {
    margin-bottom: 30px;
}

.footer-bottom h4 {
    color: #9db0b3;
    font-size: 10px;
    margin-bottom: 20px;
}

.footer-bottom p {
    font-size: 9px;
    margin-bottom: 12px;
}



















