

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.hero {

    height: 500px;

    padding: 90px 10%;

    background-image: url("images/background.jpg.webp");

    background-size: cover;

    background-position: center;
}


.hero-text {

    display: inline-block;

    width: 55%;

    color: white;

    vertical-align: top;
}



.hero-text h1 {
    font-size: 50px;
    margin: 0;
}


.hero-text h1 span {

    color: #b88cff;
    font-family: 'Segoe UI Light', "Calibri Light",sans-serif;
    font-weight: 300;
    
    
}



.hero-text h2 {
    font-size: 25px;

    font-weight: normal;

    line-height: 1.4;
}


.hero-text hr {

    width: 60px;

    margin-left: 0;

    border: 1px solid #b88cff;
}


.hero-text p {

    width: 450px;

    line-height: 1.6;

    color: #eeeeee;
}



button {

    background-color: #9b6cff;

    color: white;

    border: none;

    padding: 12px 25px;

    cursor: pointer;
}


.form {

    display: inline-block;

    width: 35%;

    background-color: white;

    vertical-align: top;

    margin-left: 5%;

    border-radius: 5px;

    overflow: hidden;
}


.form h3 {

    margin: 0;

    padding: 18px;

    text-align: center;

    background-color: #f1eef8;

    color: #333;
}


.form h3 span {

    color: #9b6cff;
}


.form input {

    display: block;

    width: 85%;

    margin: 25px auto;

    padding: 10px;

    border: none;

    border-bottom: 1px solid #ddd;

    outline: none;
}


.form button {

    width: 100%;

    padding: 15px;

    background-color: #9b6cff;
}



.social {

    padding: 20px 10%;

    background-color: white;

    border-bottom: 1px solid #ddd;
}


.social-text {

    display: inline-block;

    width: 35%;

    vertical-align: top;
}


.social-text h3 {

    margin: 0;

    color: #333;
}


.social-text p {

    color: #888;
}


.icons {

    display: inline-block;

    width: 60%;

    text-align: center;

    font-size: 30px;

    color: #9b6cff;

    vertical-align: top;

    padding-top: 10px;
}


.tabs {

    padding: 80px 10%;

    background-color: #f7f5fb;

    min-height: 450px;
}


.tab-buttons {

    display: inline-block;

    width: 15%;

    vertical-align: top;
}


.tab {

    background-color: #38324f;

    color: white;

    padding: 25px 10px;

    text-align: center;

    border-bottom: 1px solid #777;
}


.active {

    background-color: #9b6cff;
}



.tab-content {

    display: inline-block;

    width: 50%;

    padding: 0 30px;

    vertical-align: top;
}


.tab-content h2 {

    color: #333;

    font-size: 22px;
}


.tab-content p {

    color: #777;

    line-height: 1.7;
}


.tab-content button {

    margin-top: 10px;
}



.building {

    display: inline-block;

    width: 25%;

    vertical-align: top;

    text-align: center;

    margin-top: 30px;
}


.city {

    width: 100%;

    display: block;
}


.reflection {

    width: 100%;

    display: block;

    transform: scaleY(-1);

    opacity: 0.2;

    margin-top: -5px;
}